{% set method %}
{% set input_title %}
{% set input_keys %}
{% set serialized %}

<p><b>{{ input_title }}</b></p>
<form action="{{ request.path }}" method="{{ method }}" enctype="application/x-www-form-urlencoded">
  {% module xsrf_form_html() %}
  {% for input_key in input_keys %}
    <label for="{{ input_key }}"><i>{{ input_key }}</i>:</label>
    <input id="{{ input_key }}" type="text" name="{{ input_key }}">
  {% end %}
  {% if serialized %}
    <input id="serialized" type="hidden" name="serialized" value="{{ serialized }}">
  {% end %}
</form>