{% set lattice %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lattice</title>
    <link rel="stylesheet" href="{{ static_url("lattice.css") }}" type="text/css">
  </head>
  <body>
    <p><b>Python __repr__</b>: {{ lattice }}</p>

    <div>
      <table>
        {% for row in range(lattice.coordinante_cardinalites[0]) %}
          <tr>
            {% for col in range(lattice.coordinante_cardinalites[1]) %}
              <td>
                {{ lattice.cells[(row, col)] }}
              </td>
            {% end %}
          </tr>
        {% end %}
      </table>
    </div>

  </body>
</html>
